:root {
    --background-color: #121212;
    --dark-red: #453242;
    --red: #8B5160;
    --red-1: #CD7866;
    --orange: #F6B162;
    --yellow: #F9F871;
    --text-gradient: -webkit-linear-gradient(#8B5160, #CD7866, #F6B162, #F9F871);
};
